---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bobby Lin">
  <main>
    <h1>Hello, I'm Bobby Lin</h1>
    <p>Front-end developer</p>
    <p>Want to be a independent developer</p>
    <div></div>
  </main>
</Layout>

<style></style>
