---
---

<footer mt-10 text-sm text-neutral-500>
  Bobby © 2023
  <a
    class="hover:underline"
    mx-2
    hover:text-black
    hover:underline-dashed
    dark:hover:text-white
    href="https://github.com/FrankLin23/bobby-website"
    target="_blank"
  >
    Source Code
  </a>
</footer>
