---
export interface Props {
  title: string;
  description: string;
  href: string;
  logo: string;
}

const { title, description } = Astro.props;
---

<div
  class="flex"
  p-4
  shadow-sm
  rounded-md
  bg-slate-200
  items-center
  gap-6
  cursor-pointer
  hover:bg-slate-300
>
  <div>Logo</div>
  <div class="flex" flex-col gap-2>
    <h1 font-600>{title}</h1>
    <p text-gray-600 text-sm>{description}</p>
  </div>
</div>
