---
---

<div class="flex" mt-6 items-center gap-4>
  <a href="https://twitter.com/BobbyLin23" target="_blank">
    <div class="i-logos-twitter"></div>
  </a>
  <a href="https://github.com/FrankLin23" target="_blank">
    <div class="i-logos-github-icon"></div>
  </a>
  <div class="i-logos-discord-icon"></div>
  <div class="i-logos-mastodon-icon"></div>
  <div class="i-logos-instagram-icon"></div>
  <div class="i-logos-linkedin-icon"></div>
  <div class="i-logos-notion-icon"></div>
</div>

<style>
  a {
    cursor: pointer;
  }
</style>
