---
---

<div>
  <div mt-6 flex items-center gap-4>
    <div class="i-logos-twitter" />
    <div class="i-logos-github-icon"></div>
    <div class="i-logos-discord-icon"></div>
    <div class="i-logos-mastodon-icon"></div>
    <div class="i-logos-instagram-icon"></div>
    <div class="i-logos-linkedin-icon"></div>
    <div class="i-logos-notion-icon"></div>
  </div>
</div>
