---
---

<header class="flex" w-full py-4 items-center justify-between px-4 shadow-sm>
  <span>Bobby Lin</span>
  <ul class="flex" items-center justify-end gap-4>
    <li>Blog</li>
    <li>Projects</li>
    <li>
      <div class="i-carbon-logo-twitter"/>
    </li>
    <li>
      <div class="i-carbon-logo-github"/>
    </li>
    <li>
      <div class="i-carbon-sun dark:i-carbon-moon"></div>
    </li>
  </ul>
</header>
